     
        
      </div>
    </div>
    <script src="__PUBLIC__/custom/js/jquery.min.js"></script>
    <!--<script src="__PUBLIC__/custom/jquery.min.js"></script>-->
    <script src="__PUBLIC__/custom/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/custom/js/custom.min.js"></script>
   <script src="__PUBLIC__/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- /gauge.js -->
     <script src="__PUBLIC__/custom/js/moment.min.js"></script>
              <script src="__PUBLIC__/custom/js/daterangepicker.js"></script>
               <script type="text/javascript">
                  $('.data').daterangepicker({
      
                    //language:"zh-CN",
                    singleDatePicker: true,
                    singleClasses: "picker_4"
                  }, function(start, end, label) {
                   // console.log(start.toISOString(), end.toISOString(), label);
                  
                  });
               </script>     
  </body>
</html>
