<include file="Public/header" /> 
<style type="text/css">
.column-title{
  text-align: center;
}
</style>

<div class="right_col" role="main">
              <div class="row">
<form id="postForm" name="postForm" action="{:U('Plan/addmplan')}" method="post" class="form-horizontal">
<if condition="$Think.session.admin.id_level eq 5">
 <div class="x_panel">
                  <div class="x_title">
                    <h2>清单计划 （时间:{$Think.session.admin.year}年{$Think.session.admin.month}月）</h2>
                     <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
<table id="tb" class="table table-striped jambo_table bulk_action" style="text-align:center;height:100%;">
                        <thead>
                          <tr class="headings">
                            <th class="column-title">工作类型</th>
                            <th class="column-title">工作分类</th>
                            <th class="column-title">工作事项</th>
                            <th class="column-title">计划完成时间 </th>
                            <th class="column-title">权重 </th>
                            <th class="column-title">工作内容及目标/交付物 </th>
                            <th class="column-title no-link last" ><span class="nobr">是否延续</span></th>
                          </tr>
                        </thead>

                        <tbody>

                        <for start="1" end="11" name="j">
                        <notempty name="list1">
                        <tr class="even pointer">
                            <td class=" ">
                            <select name="plan[{$j}][plan_type]" class="form-control">                 
                                    <option value="部门重点工作" >部门重点工作</option>    
                            </select>
                            </td>
                            <td class=" ">
                            <select name="plan[{$j}][plan_classify]" class="form-control">
                                    <option value="重点工作" <if condition="$list1[$j-1]['plan_classify'] eq '重点工作'">selected="selected"</if>>重点工作</option>
                                    <option value="常规工作" <if condition="$list1[$j-1]['plan_classify'] eq '常规工作'">selected="selected"</if>>常规工作</option>
                            </select></td>
                            <td class=" ">
                              <textarea name="gongchengxiangmu[]" id="gongchengxiangmu[]" placeholder="" style="text-align:left;">{$list1[$j-1].plan_name}</textarea>
                            </td>
                            <td class=" ">
                              <input type="text" class="data" name="wanchengriqi[]" placeholder="First Name" aria-describedby="inputSuccess2Status2" value="{$list1[$j-1].plan_closingdate}">
                            </td>
                            <td class=" ">
                              <input type="text" name="quanzhong[]" style="width:50px;" maxlength="3" id="quanzhong[]" value="{$list1[$j-1].plan_weight}">
                            </td>
                            <td class=" ">
                              <textarea name="gongzuoneirong[]" id="gongzuoneirong[]" placeholder="" style="width:300px; ">{$list1[$j-1].plan_content}</textarea>
                            </td>
                            <td class=" last">
                            <select name="plan[{$j}][if_continue]" class="form-control" >
                                    <option value="1" <if condition="$list1[$j-1]['if_continue'] eq 1">selected="selected"</if>>是</option>
                                    <option value="0" <if condition="$list1[$j-1]['if_continue'] eq 0">selected="selected"</if>>否</option>
                            </select>
                            </td>
                          </tr>  
                        </notempty>
                        <empty name="list1">
                     
                          <tr class="even pointer" id="a{$j}">
                            <td class=" ">
                            
                            <select name="plan[{$j}][plan_type]" class="form-control">                 
                                    <option value="部门重点工作" >部门重点工作</option>    
                            </select>
                            </td>
                            <td class=" ">
                            <select name="plan[{$j}][plan_classify]" class="form-control">
                                    <option value="重点工作" <if condition="$list[$j-1]['plan_classify'] eq '重点工作'">selected="selected" </if>>重点工作</option>
                                    <option value="常规工作" <if condition="$list[$j-1]['plan_classify'] eq '常规工作'">selected="selected"</if>>常规工作</option>
                            </select>
                            </td>
                            <td class=" ">
                              <textarea name="gongchengxiangmu[]" id="gongchengxiangmu[]" placeholder="" style="text-align:left;">{$list[$j-1].plan_name}</textarea>
                               <input type="hidden" value="{$list[$j-1].id}" name="id[]">
                            </td>
                            <td class=" ">
                              <!-- <input type="date" name="wanchengriqi[]" id="wanchengriqi[]" value="{$list[$j-1].plan_closingdate}"> -->

                              <input type="text" class="data" name="wanchengriqi[]" placeholder="First Name" aria-describedby="inputSuccess2Status2" value="{$list[$j-1].plan_closingdate}">
                            </td>
                            <td class=" ">
                              <input type="text" name="quanzhong[]" style="width:50px;" maxlength="3" id="quanzhong[]" value="{$list[$j-1].plan_weight}">
                            </td>
                            <td class=" ">
                              <textarea name="gongzuoneirong[]" id="gongzuoneirong[]" placeholder="" style="width:300px; ">{$list[$j-1].plan_content}</textarea>
                            </td>
  
                            <td class=" last">
                            <select name="plan[{$j}][if_continue]" class="form-control" >
                                    <option value="1" <if condition="$list[$j-1]['if_continue'] eq 1">selected="selected"</if>>是</option>
                                    <option value="0" <if condition="$list[$j-1]['if_continue'] eq 0">selected="selected"</if>>否</option>
                            </select>
                            </td>
                          </tr>  
                        </empty>                    
                      </for>
                      <for start="11" end="16" name="j">
                      <notempty name="listt1">
                      <tr class="even pointer">
                            <td class=" ">
                            <select name="plan[{$j}][plan_type]" class="form-control">                 
                                    <option value="能力建设" >能力建设</option>    
                            </select>
                            </td>
                            <td class=" ">
                            <select name="plan[{$j}][plan_classify]" class="form-control">
                                    <option value="重点工作" <if condition="$listt1[$j-11]['plan_classify'] eq '重点工作'">selected="selected"</if>>重点工作</option>
                                    <option value="常规工作" <if condition="$listt1[$j-11]['plan_classify'] eq '常规工作'">selected="selected"</if>>常规工作</option>
                            </select></td>
                            <td class=" ">
                              <textarea name="gongchengxiangmu[]" id="gongchengxiangmu[]" placeholder="" style="text-align:left;">{$listt1[$j-11].plan_name}</textarea>
                              <input type="hidden" value="{$listt1[$j-11].id}" name="id[]">
                            </td>
                            <td class=" ">
                              <input type="text" class="data" name="wanchengriqi[]" placeholder="First Name" aria-describedby="inputSuccess2Status2" value="{$listt1[$j-11].plan_closingdate}">
                            </td>
                            <td class=" ">
                              <input type="text" name="quanzhong[]" style="width:50px;" maxlength="3" id="quanzhong[]" value="{$listt1[$j-11].plan_weight}">
                            </td>
                            <td class=" ">
                              <textarea name="gongzuoneirong[]" id="gongzuoneirong[]" placeholder="" style="width:300px; ">{$listt1[$j-11].plan_content}</textarea>
                            </td>
                            <td class=" last">
                            <select name="plan[{$j}][if_continue]" class="form-control" >
                                    <option value="1" <if condition="$listt1[$j-11]['if_continue'] eq 1">selected="selected"</if>>是</option>
                                    <option value="0" <if condition="$listt1[$j-11]['if_continue'] eq 0">selected="selected"</if>>否</option>
                            </select>
                            </td>
                          </tr>
                      </notempty>
                      <empty name="listt1">
                      <tr class="even pointer">
                            <td class=" ">
                            <select name="plan[{$j}][plan_type]" class="form-control">                 
                                    <option value="能力建设" >能力建设</option>    
                            </select>
                            </td>
                            <td class=" ">
                            <select name="plan[{$j}][plan_classify]" class="form-control">
                                    <option value="重点工作" <if condition="$listt[$j-11]['plan_classify'] eq '重点工作'">selected="selected"</if>>重点工作</option>
                                    <option value="常规工作" <if condition="$listt[$j-11]['plan_classify'] eq '常规工作'">selected="selected"</if>>常规工作</option>
                            </select></td>
                            <td class=" ">
                              <textarea name="gongchengxiangmu[]" id="gongchengxiangmu[]" placeholder="" style="text-align:left;">{$listt[$j-11].plan_name}</textarea>
                              <input type="hidden" value="{$listt[$j-11].id}" name="id[]">
                            </td>
                            <td class=" ">
                              <input type="text" class="data" name="wanchengriqi[]" placeholder="First Name" aria-describedby="inputSuccess2Status2" value="{$listt[$j-11].plan_closingdate}">
                            </td>
                            <td class=" ">
                              <input type="text" name="quanzhong[]" style="width:50px;" maxlength="3" id="quanzhong[]" value="{$listt[$j-11].plan_weight}">
                            </td>
                            <td class=" ">
                              <textarea name="gongzuoneirong[]" id="gongzuoneirong[]" placeholder="" style="width:300px; ">{$listt[$j-11].plan_content}</textarea>
                            </td>
                            <td class=" last">
                            <select name="plan[{$j}][if_continue]" class="form-control" >
                                    <option value="1" <if condition="$listt[$j-11]['if_continue'] eq 1">selected="selected"</if>>是</option>
                                    <option value="0" <if condition="$listt[$j-11]['if_continue'] eq 0">selected="selected"</if>>否</option>
                            </select>
                            </td>
                          </tr>
                      </empty>    
                          </for>
                      </tbody>
                      </table>
                       <input class="btn btn-success" type="button" value="提交" onclick="fn1()" style="margin-left:40%;width:10%;">
                      </div></div>
</if>
<if condition="$Think.session.admin.id_level neq 5">
<!--上级表-->
 <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>上级:{$Think.session.admin.user_leader} 的计划表</h2>
                     <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  <empty name="list2">
                  <table class="table">

                  <h3>还没有任何计划！</h3>

                  </table>
                  </empty>
                  <notempty name="list2">
                    <table class="table" style="text-align:center;">
                      <thead>
                        <tr>
                          <th style="text-align:center;">工作类型</th>
                          <th style="text-align:center;">工作分类</th>
                          <th style="text-align:center;">工作事项</th>
                          <th style="text-align:center;">计划完成时间</th>
                          <th style="text-align:center;">权重</th>
                          <th style="text-align:center;">工作内容及目标/交付物</th>
                          <th style="text-align:center;">是否延续</th>
                        </tr>
                      </thead>
                      <tbody>
                       <volist name="list2" id="vv">
  
                        <tr>
                          <td>{$vv.plan_type}</td>
                          <td>{$vv.plan_classify}</td>
                          <td>{$vv.plan_name}</td>
                          <td>{$vv.plan_closingdate}</td>
                          <td>{$vv.plan_weight}</td>
                          <td>{$vv.plan_content}</td>
                          <td><if condition="$vv.if_continue eq 1">是<else/>否</if></td>
                        </tr>
                        
                        </volist>
                      </tbody>
                    </table>
                  </notempty>
                  </div>
                </div>
  </div><!--上级表结束-->

  <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>清单计划 （时间:{$Think.session.admin.year}年{$Think.session.admin.month}月）</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <div class="table-responsive">

                  <empty name="list2">
                  <table class="table table-striped jambo_table bulk_action" style="text-align:center;height:100%;">
                  <tr class="headings">
                  <p><strong>因您上级领导暂未提交本月计划，本月计划暂无法填写，请等待。</strong></p>
                  </tr>
                  </table>
                  </empty>
                  <notempty name="list2">
                    <table id="tb" class="table table-striped jambo_table bulk_action" style="text-align:center;height:100%;">
                        <thead>
                          <tr class="headings">
                            <th class="column-title">工作类型</th>
                            <th class="column-title">工作分类</th>
                            <th class="column-title">工作事项</th>
                            <th class="column-title">计划完成时间 </th>
                            <th class="column-title">权重 </th>
                            <th class="column-title">工作内容及目标/交付物 </th>
                            <if condition="($Think.session.admin.id_level eq 3) and ($Think.session.admin.user_type eq '专业员工')">
                            
                            <th class="column-title">VSE姓名 </th>
                            
                            </if>
                            <th class="column-title no-link last" >是否延续</th>
                          </tr>
                        </thead>
                     <tbody>
                        <for start="1" end="8" name="j">
                          <tr class="even pointer">
                            <td class=" ">
                            <select name="plan[{$j}][plan_type]" class="form-control">                 
                                    <option value="科室工作" <if condition="$list[$j-1]['plan_type'] eq '科室工作'">selected="selected"</if>>科室工作</option>
                                    <option value="项目工作" <if condition="$list[$j-1]['plan_type'] eq '项目工作'">selected="selected"</if>>项目工作</option>        
                                 </select>
                            </td>
                            <td class=" ">
                            <select name="plan[{$j}][plan_classify]" class="form-control">
                                    <option value="重点工作" <if condition="$list[$j-1]['plan_classify'] eq '重点工作'">selected="selected"</if>>重点工作</option>
                                    <option value="常规工作" <if condition="$list[$j-1]['plan_classify'] eq '常规工作'">selected="selected"</if>>常规工作</option>
                                 </select></td>
                            <td class=" ">
                              <textarea name="gongchengxiangmu[]" id="gongchengxiangmu[]" placeholder="" style="text-align:left;">{$list[$j-1].plan_name}</textarea>
                               <input type="hidden" value="{$list[$j-1].id}" name="id[]">
                            </td>
                            <td class=" ">

                              <input type="text" class="data" name="wanchengriqi[]" placeholder="First Name" aria-describedby="inputSuccess2Status2" value="{$list[$j-1].plan_closingdate}">
                            </td>
                            <td class=" ">
                              <input type="text" name="quanzhong[]" style="width:50px;" maxlength="3" id="quanzhong[]" value="{$list[$j-1].plan_weight}">
                            </td>
                            <td class=" ">
                              <textarea name="gongzuoneirong[]" id="gongzuoneirong[]" placeholder="" style="width:300px; ">{$list[$j-1].plan_content}</textarea>
                            </td>
                            <if condition="($Think.session.admin.id_level eq 3) and ($Think.session.admin.user_type eq '专业员工')">
                            <td class="">
                              <select name="plan[{$j}][plan_leader]">
                              <option value="">{$Think.session.admin.user_leader}</option>
                              <volist name="vse" id="vo">
                              <option value="{$vo.vse}" <if condition="$list[$j-1]['plan_leader'] eq $vo[vse]">selected="selected"</if>>{$vo.vse}</option>
                              </volist>
                              </select>
                            </td>
                            </if>
                            <td class=" last">
                            <select name="plan[{$j}][if_continue]" class="form-control" >
                                    <option value="1" <if condition="$list[$j-1]['if_continue'] eq 1">selected="selected"</if>>是</option>
                                    <option value="0" <if condition="$list[$j-1]['if_continue'] eq 0">selected="selected"</if>>否</option>
                            </select>
                            </td>
                          </tr> 
                     </for>    
                     <for start="8" end="10" name="j">
                      
                      <tr class="even pointer">
                            <td class=" ">
                            <select name="plan[{$j}][plan_type]" class="form-control">                 
                                    <option value="改善创新项" >改善创新项</option>    
                            </select>
                            </td>
                            <td class=" ">
                            <select name="plan[{$j}][plan_classify]" class="form-control">
                                    <option value="重点工作" <if condition="$listt[$j-8]['plan_classify'] eq '重点工作'">selected="selected"</if>>重点工作</option>
                                    <option value="常规工作" <if condition="$listt[$j-8]['plan_classify'] eq '常规工作'">selected="selected"</if>>常规工作</option>
                            </select></td>
                            <td class=" ">
                              <textarea name="gongchengxiangmu[]" id="gongchengxiangmu[]" placeholder="" style="text-align:left;">{$listt[$j-8].plan_name}</textarea>
                              <input type="hidden" value="{$listt[$j-8].id}" name="id[]">
                            </td>
                            <td class=" ">
                              <input type="text" class="data" name="wanchengriqi[]" placeholder="First Name" aria-describedby="inputSuccess2Status2" value="{$listt[$j-8].plan_closingdate}">
                            </td>
                            <td class=" ">
                              <input type="text" name="quanzhong[]" style="width:50px;" maxlength="3" id="quanzhong[]" value="{$listt[$j-8].plan_weight}">
                            </td>
                            <td class=" ">
                              <textarea name="gongzuoneirong[]" id="gongzuoneirong[]" placeholder="" style="width:300px; ">{$listt[$j-8].plan_content}</textarea>
                            </td>
                            <if condition="($Think.session.admin.id_level eq 3) and ($Think.session.admin.user_type eq '专业员工')">
                            <td class="">
                              <select name="plan[{$j}][plan_leader]">
                              <option value="">{$Think.session.admin.user_leader}</option>
                              <volist name="vse" id="vo">
                              <option value="{$vo.vse}" <if condition="$list[$j-1]['plan_leader'] eq $vo[vse]">selected="selected"</if>>{$vo.vse}</option>
                              </volist>
                              </select>
                            </td>
                            </if>
                            <td class=" last">
                            <select name="plan[{$j}][if_continue]" class="form-control" >
                                    <option value="1" <if condition="$listt[$j-8]['if_continue'] eq 1">selected="selected"</if>>是</option>
                                    <option value="0" <if condition="$listt[$j-8]['if_continue'] eq 0">selected="selected"</if>>否</option>
                            </select>
                            </td>
                          </tr>   
                          </for>    
                     </tbody>
                      </table>
                       <input class="btn btn-success" type="button" value="提交" onclick="fn()" style="margin-left:40%;width:10%;">
                  </notempty>
                      
                    </div>
                  </div>
                     
</div>
</div>
</if>
</div>
</div>
               <include file="Public/foot" /> 
<script type="text/javascript">
  function fn()
  {
      var gongchengxiangmu=document.getElementsByName('gongchengxiangmu[]');
      var wanchengriqi=document.getElementsByName('wanchengriqi[]');
      var quanzhong=document.getElementsByName('quanzhong[]');
      var gongzuoneirong=document.getElementsByName('gongzuoneirong[]');
      //var planleader=document.getElementsByName('plan_leader[]');
      var zongquanzhong=0;
      var zongquanzhong1=10;
      var zongquanzhong2=0;
      //alert(zongquanzhong);
      var xx = new Array(6);
      //alert(gongchengxiangmu.length);
      for(var i=1;i<=7;i++)
      {
        if(gongchengxiangmu[i-1].value!="")
            {
              var dd=0;
              if(wanchengriqi[i-1].value=="")
              {
                alert("请在第"+i+"行填写完成日期");
                dd=1;
                return false;
              }
              if(quanzhong[i-1].value=="")
              {
                alert("请在第"+i+"行填写工作权重");
                dd=1;
                return false;
              }
              if(gongzuoneirong[i-1].value=="")
              {
                alert("请在第"+i+"行填写工作内容和交付物");
                dd=1;
                return false;
              }
               
              if(dd==0)
              {
                zongquanzhong+=parseInt(quanzhong[i-1].value);
                 xx[i-1]=i;
              }
            }
      }
      for(var i=8;i<=9;i++)
      {
        if(gongchengxiangmu[i-1].value!="")
            {
              var dd1=0;
              if(wanchengriqi[i-1].value=="")
              {
                alert("请在第"+i+"行填写完成日期");
                dd1=1;
                return false;
              }
              if(quanzhong[i-1].value=="")
              {
                alert("请在第"+i+"行填写工作权重");
                dd1=1;
                return false;
              }
              if(gongzuoneirong[i-1].value=="")
              {
                alert("请在第"+i+"行填写工作内容和交付物");
                dd1=1;
                return false;
              }
               
              if(dd1==0)
              {
                zongquanzhong2+=parseInt(quanzhong[i-1].value);
                 xx[i-1]=i;
              }
            }
      }
      if(zongquanzhong!=0)
      {
        if(zongquanzhong!=100)
       {
        alert("部门重点工作的总权重和为"+zongquanzhong+",不是100，请调整权重！");
        return false;
       }
      }
       if(zongquanzhong2!=0)
      {
        if(zongquanzhong2!=10)
       {
        alert("改善创新项的总权重和为"+zongquanzhong1+",不是10，请调整权重！");
        return false;
       }
       if(zongquanzhong==100&&zongquanzhong2==10)
       {
        //alert(xx[1]);
        document.getElementById("postForm").submit();
       }
      }
      if(zongquanzhong2==0)
      {
       if(zongquanzhong==100)
       {
        //alert(xx[1]);
        document.getElementById("postForm").submit();
       }
      }
      
      

  }
   function fn1()
  {
      var gongchengxiangmu=document.getElementsByName('gongchengxiangmu[]');
      var wanchengriqi=document.getElementsByName('wanchengriqi[]');
      var quanzhong=document.getElementsByName('quanzhong[]');
      var gongzuoneirong=document.getElementsByName('gongzuoneirong[]');
      //var planleader=document.getElementsByName('plan_leader[]');
      var zongquanzhong=0;
      var zongquanzhong1=10;
      //alert(zongquanzhong);
      var xx = new Array(6);
      //alert(gongchengxiangmu.length);
      for(var i=1;i<=15;i++)
      {
        if(gongchengxiangmu[i-1].value!="")
            {
              var dd=0;
              if(wanchengriqi[i-1].value=="")
              {
                alert("请在第"+i+"行填写完成日期");
                dd=1;
                return false;
              }
              if(quanzhong[i-1].value=="")
              {
                alert("请在第"+i+"行填写工作权重");
                dd=1;
                return false;
              }
              if(gongzuoneirong[i-1].value=="")
              {
                alert("请在第"+i+"行填写工作内容和交付物");
                dd=1;
                return false;
              }
               
              if(dd==0)
              {
                zongquanzhong+=parseInt(quanzhong[i-1].value);
                 xx[i-1]=i;
              }
            }
      }
      if(zongquanzhong!=0)
      {
        if(zongquanzhong!=100)
       {
        alert("部门重点工作的总权重和为"+zongquanzhong+",不是100，请调整权重！");
        return false;
       }
      }
       if(zongquanzhong1!=0)
      {
        if(zongquanzhong1!=10)
       {
        alert("改善创新项的总权重和为"+zongquanzhong1+",不是10，请调整权重！");
        return false;
       }
       if(zongquanzhong==100&&zongquanzhong1==10)
       {
        //alert(xx[1]);
        document.getElementById("postForm").submit();
       }
      }
      

  }
  function gs(){

  }
  window.onload = function()
        {
            
        }
</script>