<include file="Public/header" /> 
<style type="text/css">
.column-title{
  text-align: center;
}
</style>
<div class="right_col" role="main">
              <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                  <div class="x_title">
                    <h2>上级:{$Think.session.admin.user_leader} 的计划表</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  <empty name="list2">
                  <p>还没有任何计划！</p>
                  </empty>
                  <notempty name="list2">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>工作类型</th>
                          <th>工作分类</th>
                          <th>工作事项</th>
                          <th>计划完成时间</th>
                          <th>权重</th>
                          <th>工作内容及目标/交付物</th>
                          <th>是否延续</th>
                        </tr>
                      </thead>
                      <tbody>
                       <volist name="list2" id="vv">
  
                        <tr>
                          <td>{$vv.plan_type}</td>
                          <td>{$vv.plan_classify}</td>
                          <td>{$vv.plan_name}</td>
                          <td>{$vv.plan_closingdate}</td>
                          <td>{$vv.plan_weight}</td>
                          <td>{$vv.plan_content}</td>
                          <td>{$vv.if_confirm}</td>
                        </tr>
                        
                        </volist>
                      </tbody>
                    </table>
                  </notempty>
                  </div>
                </div>
              </div>
              


              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>清单计划</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action" style="text-align:center;">
                        <thead>
                          <tr class="headings">
                            <th class="column-title" style="text-align:center;">工作类型</th>
                            <th class="column-title">工作分类</th>
                            <th class="column-title">工作事项</th>
                            <th class="column-title">计划完成时间 </th>
                            <th class="column-title">权重 </th>
                            <th class="column-title">工作内容及目标/交付物 </th>
                            <if condition="$Think.session.admin.id_level eq 3">
                            <th class="column-title">VSE姓名 </th>
                            </if>
                            <th class="column-title no-link last"><span class="nobr">是否延续</span></th>
                          </tr>
                        </thead>

                        <tbody>
                        <volist name="list" id="vo">
                          <tr class="even pointer">
                            <td class=" ">
                              <label>
                                {$vo.plan_type}
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                {$vo.plan_classify}
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                {$vo.plan_name}
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                {$vo.plan_closingdate}
                              </label>
                            </td>
                            <td class=" ">
                              <label>
                                {$vo.plan_weight}
                              </label>
                            </td>
                            <td class=" " width="300px;">
                              <label>
                                {$vo.plan_content}
                              </label>
                            </td>
                            <if condition="$Think.session.admin.id_level eq 3">
                            <td class="a-right a-right ">
                              <label>
                                {$vo.plan_leader}
                              </label>
                            </td>
                            </if>
                            <td class="last">
                              <label>
                               <if condition="$vo.if_confirm eq 0">否
                                 <else /><if condition="$vo.if_confirm eq 1">是</if>
                               </if>
                              </label>
                            </td>
                          </tr>
                        </volist>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              </div>
</div>
<include file="Public/foot" /> 