<include file="Public/header" /> 

<div class="right_col" role="main">
              <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>上级评价表</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Username</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
              


              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>清单计划</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
<form action="{:U('Plan/addmplan')}" method="post" class="form-horizontal">
                  <div class="x_content">

                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th class="column-title">工作类型</th>
                            <th class="column-title">工作分类</th>
                            <th class="column-title">工作事项</th>
                            <th class="column-title">计划完成时间 </th>
                            <th class="column-title">权重 </th>
                            <th class="column-title">工作内容及目标/交付物 </th>
                            <if condition="$Think.session.admin.id_level eq 3">
                            <th class="column-title">VSE姓名 </th>
                            </if>
                            <th class="column-title no-link last"><span class="nobr">是否延续</span></th>
                          </tr>
                        </thead>

                        <tbody>
                        <for start="1" end="8">
                        
                          <tr class="even pointer">
                            <td class=" ">
                            <select name="plan[{$i}][plan_type]" class="form-control">
                                    <option value="项目工作">项目工作</option>
                                    <option value="项目工作">科室工作</option>
                                 </select></td>
                            <td class=" ">
                            <select name="plan[{$i}][plan_classify]" class="form-control">
                                    <option value="重点工作">重点工作</option>
                                    <option value="常规工作">常规工作</option>
                                 </select></td>
                            <td class=" ">
                              <textarea name="plan[{$i}][plan_name]"></textarea>
                            </td>
                            <td class=" ">
                              <input type="date" name="plan[{$i}][plan_closingdate]">
                            </td>
                            <td class=" ">
                              <input type="text" name="plan[{$i}][plan_weight]" style="width:25px;" maxlength="2">
                            </td>
                            <td class=" ">
                              <textarea name="plan[{$i}][plan_content]"></textarea>
                            </td>
                            <td class="a-right a-right ">
                              <volist>
                              </volist>
                            </td>
                            <td class=" last">
                            <select name="plan[{$i}][if_continue]" class="form-control" style="width:60px;">
                                    <option value="是">是</option>
                                    <option value="否">否</option>
                                 </select>
                            </td>
                          </tr>                      
                       
                        </for>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <input type="submit" value="提交">
                  </form>
                </div>
              </div>
              </div>
</div>
<include file="Public/foot" /> 